@model WebApplication1.Models.Data
<style>
    .required:after {
        content: " *";
        color: red;
    }
</style>
<div style="margin-top:5%">
    @using (Html.BeginForm("create", "Home", FormMethod.Post, new { role = "form" }))
    {
        <h2>Add new Post</h2>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="col-md-2">UserId</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.userId, new { @class = "form-control", @type = "number", @placeholder = "Please enter UserId" })
                @Html.ValidationMessageFor(m => m.userId, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="col-md-2 required">Title</label>
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.title, new { @class = "form-control", @required = "required", @placeholder = "Please enter the Title" })
                @Html.ValidationMessageFor(m => m.title, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    </div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <label class="col-md-2">Body</label>
            <div class="col-md-10">
                @Html.TextAreaFor(m => m.body, new { @class = "form-control", @maxlength = 400, @placeholder = "400 Characters MAX" })
                @Html.ValidationMessageFor(m => m.body, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    </div>

    <button type="submit" class="btn btn-warning pull-left"><i class="icon-menu2"></i>Add Post</button>
    }
</div>

        @Html.Partial("_Result")
