@model IEnumerable<WebApplication1.Models.Data>
@{
    int Code = Convert.ToInt32(ViewBag.code);
}
<style>
    td, th {
        border: 1px solid #111;
        padding: 6px;
    }

    th {
        font-weight: 700;
    }

        th a.sort-by {
            padding-right: 18px;
            position: relative;
        }

    a.sort-by:before,
    a.sort-by:after {
        border: 4px solid transparent;
        content: "";
        display: block;
        height: 0;
        right: 5px;
        top: 50%;
        position: absolute;
        width: 0;
    }

    a.sort-by:before {
        border-bottom-color: #666;
        margin-top: -9px;
    }

    a.sort-by:after {
        border-top-color: #666;
        margin-top: 1px;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
            $(document).ready(function() {
                (function($) {
                    $("#userTbl tbody").addClass("search");
                    $('#filter').keyup(function() {
                        var rex = new RegExp($(this).val(), 'i');
                        // var $t = $(this).children(":eq(4))");
                        $('.search tr ').hide();

                        //Recusively filter the jquery object to get results.
                        $('.search tr ').filter(function(i, v) {
                          //Get the 3rd column object here which is userNamecolumn
                            var $t = $(this).children(":eq(" + "3" + ")");
                            return rex.test($t.text());
                        }).show();
                    })

                }(jQuery));
                $('#city_header').click(function () {
                    var table = $(this).parents('table').eq(0)
                    var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
                    this.asc = !this.asc
                    if (!this.asc) { rows = rows.reverse() }
                    for (var i = 0; i < rows.length; i++) { table.append(rows[i]) }
                })
                function comparer(index) {
                    return function (a, b) {
                        var valA = getCellValue(a, index), valB = getCellValue(b, index)
                        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
                    }
                }
                function getCellValue(row, index) { return $(row).children('td').eq(index).text() }

            });
</script>
<div style="margin-top:5%">
    @using (Html.BeginForm("postsidfetch", "Home", FormMethod.Post, new { role = "form" }))
    {
        <input type="number" name="id" value="" class="form-control" placeholder="Enter the id to be searched" />
        <button type="submit" class="btn btn-warning pull-left"><i class="icon-menu2"></i>Get Data</button>
    }
</div>

<div class="form-group pull-right" style="margin-top:5%">
    <input type="text" name="" id="filter" class="form-control" placeholder="Search here...">
</div>
@if (Code > 0)
{
<table class="table table-striped" id="userTbl">
    <thead>
        <tr style="background-color:aquamarine">
            <th style="text-align:center">PostId</th>
            <th style="text-align:center">Id</th>
            <th scope="col" id="city_header" style="text-align:center"><a href="#" class="sort-by">Name</a></th>
            <th style="text-align:center">email</th>
            <th style="text-align:center">Body</th>
        </tr>
    </thead>
    
    <tbody class="searchable">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.postId</td>
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.email</td>
                <td id="tt">@item.body</td>
            </tr>
        }</tbody>
    
</table>
}
else
{
    <table class="table table-striped" id="userTbl">
        <thead>
            <tr style="background-color:aquamarine">
                <th style="text-align:center">PostId</th>
                <th style="text-align:center">Id</th>
                <th scope="col" style="text-align:center">Name</th>
                <th style="text-align:center">email</th>
                <th style="text-align:center">Body</th>
            </tr>
        </thead>

        <tbody class="searchable">
           
                <tr>
                    <td colspan="5" style="text-align:center">No-Data Available</td>
                </tr>
           
        </tbody>
        
    </table>
}