<div class="jumbotron">
    <h1>WEB API Integration</h1>

</div>
<div class="row">
    <div class="col-md-4">
        <h2>Fetch all Posts</h2>
        <p>To fetch all Posts from the API.</p>
        <p><a class="btn btn-default" href="@Url.Action("posts","Home")">Get All Posts &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Fetch Post by Id</h2>
        <p>To fetch particular post by Id from the API..</p>
        <p><a class="btn btn-default" href="@Url.Action("PostId","Home")">Get Post by Id &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Fetch Post by PostId</h2>
        <p>To fetch particular post where PostId is equals to Id from the API..</p>
        <p><a class="btn btn-default" href="@Url.Action("PostIdFetch","Home")">Get Id by PostId &raquo;</a></p>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <h2>Add New Post</h2>
        <p>To Add New Post.</p>
        <p><a class="btn btn-default" href="@Url.Action("create","Home")">Add New Post &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Delete Post by Id</h2>
        <p>To delete particular post by Id from the API..</p>
        <p><a class="btn btn-default" href="@Url.Action("delete","Home")">Delete Post by Id &raquo;</a></p>
    </div>

</div>
