@model IEnumerable<WebApplication1.Models.Data>
    @{ 
        int i = 1;
    }
<style>
    td, th {
        border: 1px solid #111;
        padding: 6px;
    }

    th {
        font-weight: 700;
     }

        th a.sort-by {
            padding-right: 18px;
            position: relative;
        }

    a.sort-by:before,
    a.sort-by:after {
        border: 4px solid transparent;
        content: "";
        display: block;
        height: 0;
        right: 5px;
        top: 50%;
        position: absolute;
        width: 0;
    }

    a.sort-by:before {
        border-bottom-color: #666;
        margin-top: -9px;
    }

    a.sort-by:after {
        border-top-color: #666;
        margin-top: 1px;
    }
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {

        $('#ii').change(function () {
            if ($(this).prop('checked')) {
                $('input').prop('checked', true);
            }
            else {
                $('input').prop('checked', false);
            }
        });
        $("#all").click(function () {
            $('input').prop('checked', true);
       });
        $("#sel").click(function () {
            var favorite = [];
            $.each($("input[name='selected']:checked"), function () {
                favorite.push($(this).val());
            });
           // alert("My favourite sports are: " + favorite.join(", "));
            $("#gat").val(favorite.join(", "));

        });
        $('#selectall').trigger('change');
                (function($) {
                    $("#userTbl tbody").addClass("search");
                    $('#filter').keyup(function() {
                        var rex = new RegExp($(this).val(), 'i');
                      
                        $('.search tr ').hide();

                        $('.search tr ').filter(function(i, v) {
                        
                            var $t = $(this).children(":eq(" + "3" + ")");
                            return rex.test($t.text());
                        }).show();
                    })

                }(jQuery));
                $('#city_header').click(function () {
                    var table = $(this).parents('table').eq(0)
                    var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
                    this.asc = !this.asc
                    if (!this.asc) { rows = rows.reverse() }
                    for (var i = 0; i < rows.length; i++) { table.append(rows[i]) }
                })
                function comparer(index) {
                    return function (a, b) {
                        var valA = getCellValue(a, index), valB = getCellValue(b, index)
                        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.toString().localeCompare(valB)
                    }
                }
                function getCellValue(row, index) { return $(row).children('td').eq(index).text() }

    });

</script>
<div class="col-md-12">
    <div class="col-md-4">
        @using (Html.BeginForm("ExportToExcel", "Home", FormMethod.Post))
        {
            <input type="hidden" name="all" value="all" />
            <input type="submit" class="btn btn-success" value="Export All to Excel" id="all" style="margin-top:5%" />
        }

    </div>
    <div class="col-md-4">
@using (Html.BeginForm("ExportSelToExcel", "Home", FormMethod.Post))
{
    <input type="hidden" name="gat" value="" id="gat"/>
    <input type="submit" class="btn btn-success" value="Export Selected Posts to Excel" id="sel" style="margin-top:5%" />
}

    </div>
    <div class="col-md-4">
        <div class="form-group pull-right" style="margin-top:5%">
            <input type="text" name="" id="filter" class="form-control" placeholder="Search here...">
        </div>
    </div>
</div>


<table class="table table-striped" id="userTbl">
    <thead>
        <tr style="background-color:aquamarine">
            <th><input type="checkbox" id="ii" value="iii" /> Check All</th>
            <th style="text-align:center">UserId</th>
            <th style="text-align:center">Id</th>
            <th scope="col" id="city_header" style="text-align:center"><a href="#" class="sort-by">Title</a></th>
            <th style="text-align:center">Body</th>
        </tr>
    </thead>
    <tbody class="searchable">
        @foreach (var item in Model)
        {
            <tr>
               <td> <input type="checkbox" id="@i" value="@i" name="selected" />
                <td>@item.userId</td>
                <td>@item.id</td>
                <td>@item.title</td>
                <td id="tt">@item.body</td>
            </tr>
            i = i + 1;
        }
        
        
    </tbody>
</table>